<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<!-- ServiceStack Config	-->
	<configSections>
	</configSections>
	<connectionStrings />
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation/>
	</system.web>
	<system.webServer>
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<netTcpBinding />
			<basicHttpBinding />
		</bindings>
		<client />
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear />
				<add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\RMSRestLog.log" />
			</listeners>
		</trace>
		<switches>
			<!-- valid values: Info, Warning, Error, Verbose -->
			<add name="TraceLevelSwitch" value="Verbose" />
		</switches>
	</system.diagnostics>
</configuration>